main .form {
    margin: 0 auto;
    margin-top: 10px;
    padding: 0 0 30px 0 ;
    background-color: #F8F9F9;
    border-radius: 10px;
    width: 68%;
    box-shadow: 0 0.1rem 0.7rem rgba(0,0,0,.3);
}

/* encabezado del formularip */
main .form #encabezado {
    width: 100%;
    padding: .3rem 0;
    text-align: center;
    background-color: #D6DBDF;
    border-radius: 8px 8px 0 0;
}

main .form #encabezado #titulo {
    padding: 8px;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 1px;

}

/* Area del formulario */
main .form form .container{
    display: flex;
    justify-content: center;
}

/* divisiones del contenedor del formulario */

main .form form .container .div1 {
    width: 50%;
    padding: 15px 15px;
}
main .form form .container .div2{
    width: 50%;
    padding: 15px 15px;;
}


/* Botones del formulario */
main .form form .botones {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
}
main .form form .botones button{
    font-family: 'Montserrat', sans-serif;
    width: 48%;
    height: 35px;
    border-radius: 8px;
    background-color: #99A3A4;
    align-items: center;
    justify-content: center;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: all .3s ease;
}

main .form form .botones #guardar {
    background-color: #48C9B0;
}
main .form form .botones #guardar:hover {
    background-color: #16A085;
}

main .form form .botones #cancelar:hover {
    background-color: #808B96;
}

/* Cajas de los inputs */
main .form form .container .input__form{
    display: flex;
    margin-bottom: 10px;
}

/* Parrofo de la cajas de los inputs */

main .form form .container p{
    display: inline-block;
    font-size: 14px;
    letter-spacing: -1px;
    text-decoration: none;
    width: 30%;
    height: 40px;
    padding: 12px 0;
    font-weight: 600;
}

main .form form .container input, select{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    border: 0;
    width: 80%;
    height: 40px;
    padding: 0 1rem 0 1rem;
    color: #202d3c;
    border-radius: 3px;
}

/* Input invalido */
main .form form .container .input__form .invalido{
    border-bottom: 4px solid rgba(231, 76, 60, .7);
    padding-top: 4px;
    box-shadow: 0 0px 5px 1px rgba(146, 43, 33, 0.3);
}



main .form form .container select{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    width: 80%;
    height: 40px;
    padding: 0 1 rem 0 1rem;
    color: #202d3c;
    border-radius: 3px;
    outline: none;
}

main .form form .container input:hover, select:hover{
    border-bottom: 3px solid rgba(46, 46, 49, 0.3);
    padding-top: 3px;
    box-shadow: 0 2px 10px 1px rgba(10, 10, 100, 0.1);
}
main .form form input:focus, select:focus{
    outline: none;
    border-bottom: 3px solid rgba(46, 46, 49, 0.3);
    padding-top: 3px;
    box-shadow: 0 2px 10px 1px rgba(10, 10, 100, 0.1);
}


/* Variaciones en el formulario de vender */


main #venta{
    width: 100%;
}
#botonbuscar{
    padding-left: .8rem;
    padding-right: .8rem;
    border: none;
    background-color: #1ABC9C;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    transition: color 0.3s ease;
}
#botonbuscar i{
    font-size: 21px;
    color: white;
}

#inputbuscar{
    width: 65%;
    border-radius: 3px 0 0 3px;
}

#inputbuscar{
    width: 65%;
    border-radius: 3px 0 0 3px;
}

#inputbuscar:hover, #inputbuscar:focus{
    border-top: 3px solid #1ABC9C;
    border-left: 3px solid #1ABC9C;
    border-bottom: 3px solid #1ABC9C;
    box-shadow: 1px 1px 8px 0px rgba(10, 10, 100, 0.3);
    padding-left: 13px;
    padding-right: 8px;
    padding-top: 0px;
}
#descripcion_producto:disabled{
    background: #FBFCFC;
    margin: 0 auto;
    border: 1px dashed rgba(229, 231, 233, .9);
    resize: none;
    width: 100%;
    padding: 1rem;
    font-size: 17px;
    color: #2E4053;
    cursor: text;
}

#botonbuscar:hover{
    box-shadow: 1px 1px 8px 0px rgba(10, 10, 100, 0.3);
}



/* Variaciones del formulario vender */

.btn{
    border: none;
    width: 50%;
    margin-right: .2rem;
    margin-top: 1rem;
    border-radius: 5px;
    padding: .5rem;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}

.cancelar{
    background-color: #99A3A4;
    color: white;
}
.agregar{
    background-color: #58D68D;
    color: #F4F6F7;
}
.vender{
    background-color: #F5B041;
    color: #F4F6F7;
}

.cancelar:hover{
    background-color: #b5b9bc;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,.2);
}
.agregar:hover{
    background-color: #35ac66;
    color: #F4F6F7;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,.2);
}
.vender:hover{
    background-color: #d9962a;
    color: #F4F6F7;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,.2);
}
