.modal{
    position: fixed;
    top: 2rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    width: 37%;
    max-height: 31rem;
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
    padding: 1rem;
    box-shadow: 0px 0px 100vh 100vh rgba(21, 67, 96, 0.3);
    z-index: 100;
    --opacity: 0;
    --pointer: none;

    opacity: var(--opacity);
    pointer-events: var(--pointer);

    transition: opacity 0.8s ease;
}

.pedido{
    max-height: 34rem;
}

.modal:target{
    --opacity: 1;
    --pointer: unset;
}


.modal .__header{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: .5rem;
}

.modal .__header .__icon{
    background-color: #D4E6F1;
    border-radius: 300px;
    padding: 0.6rem .9rem;
    font-size: 2.2rem;
    color: #2471A3;
}

.modal .__header .__cerrar{
    font-size: 2rem;
}

.modal .__header .__cerrar a{
    color: #95A5A6;
}

.modal .__body{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.modal .__body .__titulo{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    letter-spacing: .5px;
}

.modal .__body .__icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.modal .__body .__icon i{
    background-color: #F1948A;
    font-size: 10rem;
    padding: 2rem 2.5rem;
    margin-bottom: .5rem;
    border-radius: 50%;
    font-weight: 100;
    color: #D60909;
}
.modal .__body .__icon label{
    font-size: 1rem;
    padding: .5rem 2rem;
    font-weight: 600;
}

.modal .__footer{
    display: flex;
    align-items: center;
    justify-content: center;
}


.modal .__footer .__botones .__btn{
    background-color: #FDFEFE;
    text-decoration: none;
    border-radius: 6px;
    padding: .5rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.3s ease;
}

.modal .__footer .__botones .__cancelar{
    border: 4px solid;
    border-color: rgba(113, 125, 126, .5);
    padding: .30rem 1.5rem;
    color: #212F3D;
}

.modal .__footer .__botones .__cancelar:hover{
    border-color: rgba(113, 125, 126, .6);
}


.modal .__footer .__botones .__confirmar{
    background-color: #f03925;
    color: #FBFCFC;
    border: none;
}

.modal .__footer .__botones .__confirmar:hover{
    background-color: #c53a2b;
}



.modal .__body .__titulo-pedido{
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1.2rem;
    margin-bottom: .8rem;
    letter-spacing: .5px;
}

.modal .__body .__icon-pedido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.modal .__body .__icon-pedido i{
    background-color: #A9CCE3;
    font-size: 4.5rem;
    padding: 1.5rem 1.4rem;
    margin-bottom: .4rem;
    border-radius: 50%;
    font-weight: 100;
    color: #2980B9;
}

.modal .__body .__icon-pedido label{
    font-size: 1.2rem;
    padding: .5rem 2rem;
    font-weight: 600;
}

.modal .__body .__icon-pedido input{
    width: 85%;
    font-size: 1rem;
    padding: .5rem .8rem;
    font-weight: 600;
    border: 3px solid #376a9e;
    border-radius: 8px;
    margin-bottom: .5rem;
    color: #263e55;
}

.modal .__body .__icon-pedido .invalido{
    border: 3px solid rgba(231, 76, 60, .7);
}

.modal .__body .__icon-pedido input:focus{
    outline: none;
    width: 85%;
    font-size: 1rem;
    padding: .5rem .8rem;
    font-weight: 600;
    border: 3px solid #55a0eb;
    border-radius: 8px;
    margin-bottom: .5rem;
}

.modal .__footer .__botones .__confirmar-pedido{
    background-color: #55a0eb;
    color: #FBFCFC;
    border: none;
}

.modal .__footer .__botones .__confirmar-pedido:hover{
    background-color: #488dd3;
}
