main{
    height: 45em ;
    padding: 5rem 3% 0 3%;
}

/* caja de links y opcines*/
main #caja-opciones{
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    padding: .2rem 0;
}

main #caja-opciones .opciones {
    display: inline-block;
    height: 110px;
}

main #caja-opciones .opciones p{
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding-bottom: 3px;
}
main  #caja-opciones .opciones ul {
    display: flex;
    list-style: none;
}


main  #caja-opciones .opciones ul li {
    display: flex;
}

main  #caja-opciones .opciones ul li a{
    display: block;
    width: 90px;
    height: 87px;
    background-color: #F8F9F9;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0.1rem 0.5rem rgba(0,0,0,.3);
    transition: outline  0.3s ease;
}

/*link tipo botones (opciones)*/

main  #caja-opciones .opciones ul li a i{
    font-size: 40px;
    padding-top: 10px;

}
 main  #caja-opciones .opciones ul li a button{
    margin-top: 11px;
    font-family: 'Montserrat', sans-serif;
    width: 90px;
    padding: 5px;
    border-style: none;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 600;
}

/* opcion Nuevo */

main  #caja-opciones .opciones ul li #nuevo i, button{
    color: #58D68D;

}
 main  #caja-opciones .opciones ul li #nuevo button{
    background-color: #58D68D;
}
main  #caja-opciones .opciones ul li #nuevo:hover{
    outline: 5px solid  #58D68D;
}

.agregar_Activa {
    outline: 5px solid  #58D68D;
}

/*opcion Consultar*/

main  #caja-opciones .opciones ul li #consultar i, button{
    color: #5DADE2;
}
 main  #caja-opciones .opciones ul li #consultar button{
    background-color: #5DADE2;
}
main  #caja-opciones .opciones ul li #consultar{
    margin-left: 25px;
    margin-right: 25px;
}
main  #caja-opciones .opciones ul li #consultar:hover{
    outline: 5px solid  #5DADE2;
}
.consultar_Activa {
    outline: 5px solid  #5DADE2;
}


/*Boton repprte*/

main  #caja-opciones .opciones ul li #reporte i, button{
    color: #EC7063;
}
 main  #caja-opciones .opciones ul li #reporte button{
    background-color: #EC7063;
}
main  #caja-opciones .opciones ul li #reporte:hover{
    outline: 5px solid  #EC7063;
}
.reporte_Activa {
    outline: 5px solid  #EC7063;
}


/* Buscar */


/* main #caja-opciones .opciones div{
    position: relative;
}


main #caja-opciones .opciones div form{
    display: flex;
    padding: 1rem 0;
}


main .opciones div form input{
    width: 100%;
    height: 2.3rem;
    border: none;
    border-radius: 8px 0 0 8px;
    padding: 0 12px;
    letter-spacing: 1px;
    color: #212F3D;
    transition: box-shadow 0.3s ease 0s;
}

main .opciones div form button{
    background-color: #5DADE2;
    border: none;
    margin: 0 -2px;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

main .opciones div form button i{
    color: white;
    font-size: 18px;
    padding: 0;
    margin: 0;
}


main .opciones div form input:hover{
    border-top: 4px solid #5DADE2;
    border-bottom: 4px solid #5DADE2;
    border-left: 4px solid #5DADE2;
    box-shadow: 0 0 18px 2px rgba(66, 189, 237, .3);
    padding-left: 8px;
}

main .opciones div form input:focus{
    outline: none;
    border-top: 4px solid #5DADE2;
    border-bottom: 4px solid #5DADE2;
    border-left: 4px solid #5DADE2;
    box-shadow: 0 0 18px 2px rgba(66, 189, 237, .3);
    padding-left: 8px;
}

main .opciones div form button:hover{
    font-size: 20px;
    box-shadow: 0 0 18px 2px rgba(66, 189, 237, .3);
} */




/* OPCIONES CUANDO EL LINK ESTA ACTIVO

.buscar_no_visivle{
    z-index: -1;
    visibility: hidden;
}

.buscar_visible{
    visibility: visible;
}
 */

/* Cajas de ocpiones de una misma vista */

main #opciones-1{
    visibility: visible;
}

main #opciones-2{
    margin-left: 3.5em;
}
