.container-venta{

    padding: 2rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
}

.busqueda-venta{
    display: flex;
    align-items: center;
    justify-content: center;
}


.busqueda-venta select{
        width: 50%;
        border: 3px solid #95A5A6;
}

.busqueda-venta .input_venta{
    width: 50%;
    padding: .5rem 1rem;
    border: 3px solid #3498DB;
    font-size: 1rem;
    font-weight: 600;
}

.busqueda-venta .input_vendedor{
    width: 100%;
    padding: .5rem 1rem;
    border: 3px solid #3498DB;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 6px;
}

.busqueda-venta .input_vendedor:focus{
    outline: none;
    border: 3px solid #3498DB;
    padding: .5rem 1rem;
}

.busqueda-venta .input_producto{
    width: 100%;
    padding: .5rem 1rem;
    border: 3px solid #3498DB;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 6px;
    margin-bottom: .5rem;
}

.busqueda-venta .input_producto:focus{
    outline: none;
    border: 3px solid #3498DB;
    padding: .5rem 1rem;
}



.busqueda-venta .input_venta:focus{
    outline: none;
    border: 3px solid #3498DB;
    padding: .5rem 1rem;
}

.busqueda-venta .__invalid{
    outline: none;
    border: 3px solid #db3434;
    padding: .5rem 1rem;
}

.container-venta button{
    margin-top: .8rem;
    padding: .5rem;
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(93, 173, 226, .8);
    color: #Ffffff;
    transition: all 0.3s ease;
    letter-spacing: 1px;
  }

  .container-venta button:hover{
    background-color: rgba(93, 173, 226, 1);

  }



.tabla-venta table{
    width: 100%;
    margin-top: .5rem;
    border-radius: .5rem;
    border-collapse: collapse;
    background-color: rgba(245, 245, 245, 1);
    box-shadow: 0 3px 8px 5px rgba(2, 36, 59, 0.1);
    overflow: hidden;
    margin-bottom: 1.1rem;
}

.tabla-venta table .uno th{
    background-color: rgba(84, 153, 199, .8);
    font-family: 'Montserrat', sans-serif;
    padding: .8rem .5rem;
    font-weight: 800;
    text-align: left;
    font-size: 15px;
    letter-spacing: 1px;
    cursor:auto;

}

.tabla-venta table td{
    font-family: 'Montserrat', sans-serif;
    padding: .7rem .5rem;
    font-weight: 400;
    text-align: left;
    font-size: 15px
}

.tabla-venta table tr td:first-child{
    font-weight: 600;
}


.tabla-venta table a .eliminar{
    color: #E74C3C;
    font-size: 18px;
    transition: all 0.3s ease;
}
.tabla-venta table a .eliminar:hover{
    color: #B03A2E;
    transform: translateY(-2px);
    box-shadow: 0 1px 5px 0px #1209010c;
}

.tabla-venta table tr{
    transition: all .3s ease;
}

.tabla-venta table tr:nth-child(odd){
    background-color: rgba(230, 230, 230, 1);
}
.tabla-venta table tr:hover{
    background-color: rgba(127, 179, 213, .5);
    cursor: pointer;
}

.__cantidad{
    width: 20%;
    padding: .4rem .4rem;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}


.container-venta .__btn{
    padding: .5rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    color: #Ffffff;
    background-color: rgba(46, 204, 113 , .8);
    transition: all 0.3s ease;
    letter-spacing: 1px;
}

.container-venta .__btn:hover{
    background-color: rgba(46, 204, 113 , 1);
}

.__eliminar-producto{
    border: 2px solid #B03A2E;
    padding: .3rem .4rem;
    border-radius: 6px;
    font-size: 1.1rem;
    color:#B03A2E;
    transition: all 0.3s ease;
}

.__eliminar-producto:hover{
    border: 2px solid #992c20;
    color:#a02b1e;
}

